XMLRIVER_USER=your_xmlriver_user_id
XMLRIVER_KEY=your_xmlriver_api_key
XMLRIVER_ENDPOINT=http://xmlriver.com/search/xml
XMLRIVER_ATTEMPTS=3
XMLRIVER_STALE_DAYS=7

PARSER_MAX_PER_QUERY=10
PARSER_FETCH_TIMEOUT_MS=20000
PARSER_HEADLESS_TIMEOUT_MS=25000
